/* Общие стили */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family:'HelveticaCur','VinSlabPro','Gilroy',sans-serif;
	font-size: 18px;
	font-weight: 400;
    line-height: 32px;
    padding-top: 0;
}

a{
    text-decoration: none;
}

img{
	max-width: 100%;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 1240px;
}

.big-container{
    position: relative;
    margin: 0 auto;
    width: 1600px;
}

.header-container{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    padding: 0;
}

.main-caption{
	color:#F29F05;
    font-size: 90px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 150px;
    font-family: "VinSlabPro" !important;
}

.main-caption::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    font-family: "VinSlabPro";
}

.main-caption::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    font-family: "VinSlabPro";
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Gilroy';
}

/* Стили шапки */


.header{
    padding-top: 25px;
    margin-top: 0px;
    background-color: #000000;
    height: 90px;
}

.logo{
    margin-top: 0px;
    font-size: 25px;
    color: #F29F05;
    margin-right: 40px;
    font-weight: 350;
    font-family: "VinSlabPro";
}

.logo::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.logo::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.menu{
    display: flex;
}

.menu-list{
    display: flex;
    color: #ffffff;
}

.menu-list-item:not(:last-child){
    margin-right: 45px;
}

.menu-list-item a{
    color: #ffffff;
    font-family: "HelveticaCur";
}

.submenu{
    width: 50px;
    position: absolute;
    top: 30px;
    right: 17px;
    display: none;
}

.menu-list > .language-select:hover > .submenu{
    display: block;
}

.language-select::after{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img/arrow-menu.svg') 0% 40% no-repeat;
}

.menu-des{
    display: flex;
}

.mobile-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: none;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
    display: none;
    width: 1000px;
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    float: right;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: absolute;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    top: 65px;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #F29F05;
  }
  .mobile-menu__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
  }
  .mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
  }

  .mobile-menu__list a{
      color: #000000;
  }

  .mobile-menu__link {
    text-decoration: none;
  }
  .mobile-menu__checkbox {
    display: none;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 400px;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .mobile-menu__btn{
      top: -45px;
  }

/* Стили основного контента */

/* section-1 */
.top-section{
    background: url('../img/bg-section-1.png') no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 195px;
    text-align: center;
}

.main-subtitle{
    text-align: center;
    font-weight: 350;
    color: #ffffff;
    font-size: 40px;
    line-height: 135px;
    margin-bottom: -15px;
    font-family: "VinSlabPro";
}

.select-text{
    color: #90D7EE;
}

.main-subtitle::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    font-size: px;
    color: #ffffff;
    font-weight: 300;
}

.main-subtitle::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.top-text{
    width: 800px;
    color: #ffffff;
    margin-left: 215px;
    text-align: center;
    font-family: "HelveticaCur";
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 45px;
}

.top-btn{
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: 1px solid #B8D941;
    width: 430px;
    height: 90px;
}

.top-btn::before{
    content: " ";
    background: url('../img/icon-btn.svg') no-repeat;
    width: 32px;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 20px;
}

/* section-2 */

.Advantages-section{
    padding-top: 0px;
    background: url('../img/bg-slider-section.png') no-repeat;
    background-position: top center;
    background-size: cover;
}

.slider-posititon{
    display: flex;
}

.Advantages-slider{
    width: 650px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.slider-prog-list-item{
    width: 600px !important;
    height: 500px !important;
    padding-top: 300px;
    padding-bottom: 100px;
}

.mobile-caption-slide{
    display: none;
}

.Advantages-wrapper{
    height: auto !important;
}

.Advantages-slider-caption{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    line-height: 60px;
    padding-right: 65px;
    padding-left: 65px;
    font-family: "VinSlabPro";
}

.slider-text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-right: 65px;
    padding-left: 65px;
}

.select-color-slider{
    font-weight: 700;
}

.swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
    border-radius: 0% !important;
    background-color: #F29F05 !important;
    margin-right: 100px !important;
    position: relative;
    left: 775px;
    top: 800px;
    z-index: 99 !important;
}

.caption-section-slide{
    width: 665px;
    font-size: 30px;
    font-weight: 350;
    color: #F29F05;
    position: relative;
    left: 70px;
    top: 370px;
    font-family: "VinSlabPro";
}

.caption-section-slide::before{
    content: "< - - -";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    margin-right: 5px;
}

.caption-section-slide::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.bullet::after{
    content: " ";
    width: 600px;
    height: 2px;
    display: block;
    position: relative;
    top: 780px;
    left: 601px;
    background: url('../img/Vector-83.svg') no-repeat;
    z-index: 0;
}

.Advantages-slide1{
    background: url('../img/slider-img1.png') 18% 15% #2A2A24 no-repeat;
    margin-right: 50px;
}

.Advantages-slide2{
    background: url('../img/slider-img2.png') 18% 15% #2A2A24 no-repeat;
    margin-right: 50px;
}

.Advantages-slide3{
    background: url('../img/slider-img3.png') 18% 15% #2A2A24 no-repeat;
    margin-right: 50px;
}

.Advantages-slide4{
    background: url('../img/slider-img4.png') 18% 15% #2A2A24 no-repeat;
    margin-right: 50px;
}


.caption-section-slide{
    display: none;
}


/* section-3 */

.sphere-section{
    background: #20201B;
    padding-top: 180px;
    padding-bottom: 60px;
}

.sphere-caption{
    font-weight: 350;
    font-size: 40px;
    line-height: 75px;
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "VinSlabPro";
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 90px;
}

.caption-card{
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    font-family: "VinSlabPro";
}

.caption-card::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}


.caption-card::after{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.list-card{
    font-size: 20px;
    font-weight: 350;
    color: #ffffff;
    padding-left: 70px;
    padding-right: 50px;
}

.list-card li{
    margin-bottom: 10px;
}

.list-card li::before{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    margin-right: 10px;
}

.list-card .list-item-retail::before{
    color: #B8D941;
}

.list-card .list-item-beauty::before{
    color: #DB3C71;
}

.list-card .list-item-digital::before{
    color: #9D85F2;
}

.list-card .list-item-farm::before{
    color: #9D85F2;
}

.list-card .list-item-public::before{
    color:  #F29F05;
}

.list-card .list-item-med::before{
    color: #90D7EE;
}

.sphere-card{
    width: 385px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.retail-card{
    border: 3px solid #B8D941;
    background: url('../img/retail.png') 50% 13% no-repeat;
    margin-right: 30px;
    margin-bottom: 20px;
}

.retail-caption{
    color: #B8D941;
}

.beauty-card{
    border: 3px solid #DB3C71;
    background: url('../img/beauty.png') 50% 13% no-repeat;
    margin-right: 30px;
    margin-bottom: 20px;
}

.beauty-caption{
    color: #DB3C71;
}

.digital-card{
    border: 3px solid #9D85F2;
    background: url('../img/digital.png') 50% 13% no-repeat;
    margin-bottom: 20px;
}

.digital-caption{
    color: #9D85F2;
}

.farm-card{
    border: 3px solid #9D85F2;
    background: url('../img/farm.png') 50% 13% no-repeat;
    margin-right: 30px;
}

.farm-caption{
    color: #9D85F2;
}

.public-card{
    border: 3px solid #F29F05;
    background: url('../img/cafe.png') 50% 13% no-repeat;
    margin-right: 30px;
    margin-top: -160px;
    padding-bottom: 210px;
}

.public-caption{
    color: #F29F05;
}

.med-card{
    border: 3px solid #90D7EE;
    background: url('../img/med.png') 50% 13% no-repeat;
    margin-top: -120px;
    padding-bottom: 219px;
}

.med-caption{
    color: #90D7EE;
}

.sphere-btn{
    width: 410px;
    height: 80px;
    background-color: #B8D941;
    color: #ffffff;
    padding-bottom: 20px;
    margin-left: 403px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.sphere-btn::before{
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 18px;
    position: relative;
    background: url('../img/btn-project.png') no-repeat;
    margin-right: 10px;
}


/* section-4 */

.choose-section{
    padding-top: 105px;
    padding-bottom: 250px;
    background: url('../img/choose-bg.png') no-repeat;
    background-size: cover;
}

.choose-caption{
    text-align: center;
    font-size: 40px;
    font-weight: 350;
    color: #ffffff;
    margin-bottom: 100px;
    font-family: "VinSlabPro";
}

.choose-text-1{
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 50px;
}

.select-choose-text{
    color: #F29F05;
    font-weight: 350;
    font-family: "VinSlabPro";
}

.text-choose-weignt{
    font-weight: 550;
}

.select-choose-text::before,.choose-description::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.select-choose-text::after,.choose-description::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.choose-description{
    background-color: #000000;
    color: #F29F05;
    font-size: 24px;
    line-height: 48px;
    font-weight: 350;
}

/* section-5 */

.slider-prog{
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #20201B;
}

.slider-prog-caption{
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-bottom: 70px;
    font-family: "VinSlabPro";
}

.btn-prev,.btn-next{
    color: var(--swiper-theme-color-new)!important;
}

:root{
    --swiper-theme-color-new:#F29F05;
}




/* section-6 */

.funckhion-section{
    padding-top: 50px;
    padding-bottom: 40px;
    background: url('../img/bg-fuhc.png') no-repeat;
    background-color: #282823;
    background-position: top right;
    border-style: solid;
    border-top: 2px;
    border-image: url('../img/Vector5.svg') 5 fill repeat;
}

.position-funckhion-card{
    display: flex;
    flex-wrap: wrap;
}

.funckhion-caption{
    text-align: center;
    color: #DB3C71;
    font-size: 40px;
    font-weight: 350;
    margin-bottom: 150px;
    font-family: "VinSansPro";
}

.funckhion-card-list li{
    margin-bottom: 10px;
}

.funckhion-card-list li::before{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    margin-right: 10px;
}

.funckhion-card-list .funckhion-list-item::before{
    color: #90D7EE;
}

.funckhion-caption::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.funckhion-caption::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.funckhion-card-list li{
    margin-bottom: 15px;
}

.card-func-subtext{
    margin-bottom: 30px;
}

.card-func{
    width: 585px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 55px;
}

.card-func-1{
    border: 3px solid #90D7EE;
    margin-left: 200px;
    margin-right: 25px;
    padding-top: 0;
}

.card-func-1::before{
    content: " ";
    width: 2px;
    height: 135px;
    display: block;
    position: relative;
    top: -140px;
    left: 275px;
    background: url('../img/Vector-vertical.svg') no-repeat;
}

.card-func-1::after{
    content: " ";
    width: 330px;
    height: 2px;
    display: inline-block;
    position: relative;
    top: -300px;
    left: 540px;
    background: url('../img/Vector.svg') no-repeat;
}

.card-func-2::after{
    content: " ";
    width: 2px;
    height: 260px;
    display: inline-block;
    position: relative;
    top: 640px;
    left: 415px;
    background: url('../img/Vector59.svg') no-repeat;
}

.funckhion-card-list{
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
}

.card-func-text{
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    font-family: "VinSansPro";
}

.card-color-number-1{
    color: #90D7EE;
}

.card-func-subtext{
    color: #ffffff;
    font-size: 19px;
    font-weight: 550;
}

.card-func-2{
    width: 650px;
    background: url('../img/phone.png') 0 no-repeat;
}


.card-func-3{
    margin-top: 200px;
    margin-left: 60px;
    margin-right: 150px;
    width: 800px;
    background: url('../img/tablet.png') 0 no-repeat;
    background-size: contain;
}

.card-func-3::after{
    content: " ";
    width: 2px;
    height: 135px;
    display: block;
    position: relative;
    top: -140px;
    left: 820px;
    background: url('../img/Vector-vertical.svg') no-repeat;
    transform: rotate(90deg);
}

.card-func-3::before{
    content: " ";
    width: 2px;
    height: 350px;
    display: block;
    position: relative;
    top: 510px;
    left: 360px;
    background: url('../img/Vector61.svg') no-repeat;
}

.card-func-4{
    border: 3px solid #B8D941;
    margin-top: 250px;
}

.card-func-5{
    border: 3px solid #DB3C71;
    margin-top: 280px;
    margin-left: 150px;
    margin-right: 80px;
}

.card-func-6{
    width: 650px;
    background: url('../img/phone2.png') 0% 100% no-repeat;
    background-size: contain;
}

.card-func-6::before{
    content: " ";
    width: 350px;
    height: 2px;
    display: block;
    position: relative;
    top: 500px;
    left: -130px;
    background: url('../img/Vector62.svg') no-repeat;
}

.card-color-number-3{
    color: #DB3C71;
}


.funckhion-card-list .admin-list-item::before{
    color: #B8D941;
}

.card-color-number-2{
    color: #B8D941;
}

.funckhion-card-list .application-list-item::before{
    color: #DB3C71;
}


/* section-7 */

.сonnection-section{
    padding-top: 150px;
    padding-bottom: 120px;
    background-color: #282823;
}

.сonnection-caption{
    color: #B8D941;
    text-align: center;
    font-weight: 350;
    font-size: 40px;
    margin-top: 350px;
    font-family: "VinSansPro";
}

.сonnection-caption::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.сonnection-caption::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.сonnection-card{
    display: flex;
    align-items: flex-start;
}

.сonnection-card-number{
    color: #B8D941;
    font-size: 64px;
    font-weight: 300;
    padding: 20px;
    margin-right: 20px;
    border:3px solid #B8D941;
    margin-top: 30px;
    font-family: "VinSansPro";
}

.сonnection-card-text{
    width: 400px;
    padding-top: 5px;
}

.сonnection-card-caption{
    font-size: 23px;
    font-weight: 400;
    color: #B8D941;
    font-family: "VinSansPro";
}

.сonnection-card-list{
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}

.сonnection-card-list li::before{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #B8D941;
    font-weight: 300;
    margin-right: 10px;
}

.card-list-1{
    margin-bottom: 15px;
}

.сonnection-card-1::before{
    content: " ";
    width: 2px;
    height: 250px;
    display: block;
    position: relative;
    top: -150px;
    left: 40px;
    background: url('../img/Vector1.svg') no-repeat;
}

.сonnection-card-1::after{
    content: " ";
    width: 2px;
    height: 250px;
    display: block;
    position: relative;
    top: 110px;
    left: -464px;
    background: url('../img/Vector1.svg') no-repeat;
}

.сonnection-card-2{
    margin-left: 0px;
    margin-top: -25px;
}

.сonnection-card-text-2{
    width: 590px;
}

.сonnection-card-2::before{
    content: " ";
    width: 650px;
    height: 2px;
    display: block;
    position: relative;
    top: 60px;
    left: 36px;
    margin-right: 40px;
    background: url('../img/big-big-vector.svg') no-repeat;
}

.сonnection-card-3::after{
    content: " ";
    width: 705px;
    height: 330px;
    display: block;
    position: relative;
    top: -300px;
    left: -465px;
    background: url('../img/Vector68new.svg') no-repeat;
}

.сonnection-card-3{
    margin-top: 150px;
}

.сonnection-card-4::before{
    content: " ";
    width: 665px;
    height: 330px;
    display: block;
    position: relative;
    top: -87px;
    left: 38px;
    background: url('../img/Vector69n.svg') no-repeat;
}

.сonnection-card-4{
    margin-top: -130px;
}


/* section-8 */

.rate-section{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #353533;
}

.rate-caption{
    color: #9D85F2;
    font-size: 40px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 70px;
    font-family: "VinSansPro";
}

.rate-caption::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.rate-caption::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.rate-card-position{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.list-card-rate{
    padding-left: 75px;
    padding-right: 75px;
    font-size: 20px;
    font-weight: 350;
    color: #ffffff;
}

.list-card-rate li{
    margin-bottom: 10px;
}

.list-card-rate li::before{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
    margin-right: 10px;
}

.list-card-rate .list-item-base::before{
    color: #90D7EE;
}

.list-card-rate .list-item-standart::before{
    color: #B8D941;
}

.list-card-rate .list-item-premiym::before{
    color: #DB3C71;
}

.rate-card{
    width: 500px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.base-card{
    border: 3px solid #90D7EE;
    margin-right: 30px;
}

.base-caption{
    color: #90D7EE;
}

.choose-price{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: 350;
}

.choose-text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 132px;
}

.choose-text::after{
    content: "+";
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    left: 230px;
    color: #ffffff;
    font-weight: 300;
    font-size: 40px;
    margin-top: 25px;
}

.select-choose{
    font-family: "VinSansPro";
}

.select-choose::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.select-choose::after{
    content: ">";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.base{
    color: #90D7EE;
}

.standart-card{
    border: 3px solid #B8D941;
    margin-right: 30px;
}

.standart-caption{
    color: #B8D941;
}

.premiym-card{
    border: 3px solid #DB3C71;
}

.premiym-caption{
    color: #DB3C71;
}

.standart{
    color: #B8D941;
}

.premiym-text{
    margin-bottom: 100px;
}

.choose-addition{
    color: #ffffff;
    text-align: right;
    padding-right: 40px;
    font-size: 24px;
}

.packet{
    font-weight: 700;
}

.link-packets{
    border: 3px solid #9D85F2;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    color: #ffffff;
}


/* section-9 */

.contacts-section{
    padding-top: 185px;
    padding-bottom: 230px;
    background-color: #20201B;
}

.contact-caption{
    font-weight: 350;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 150px;
    font-family: "VinSansPro";
}

.contact-caption::before{
    content: "<";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.contact-caption::after{
    content: "/>";
    width: 10px;
    height: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 300;
}

.contact-caption-color{
    color: #DB3C71;
}

.contact-form{
    display: block;
}

.contact-input{
    display: block;
    width: 700px;
    height: 60px;
    background: none;
    border: 2px dashed #65655C;
    margin-bottom: 10px;
}

.contact-label{
    display: block;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    font-family: "HelveticaCur";
}

.area{
    width: 700px;
    height: 160px;
    resize: none;
    margin-bottom: 50px;
}

.contacts-btn{
    width: 315px;
    height: 80px;
    padding-bottom: 10px;
    color: #ffffff;
    background: none;
    border: 1px solid #B8D941;
    margin-bottom: 50px;
}


.contacts-btn::before{
    content: " ";
    background: url('../img/icon-btn.svg') no-repeat;
    width: 32px;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 20px;
}

.contact-form-position{
    display: flex;
}

.contact-adres-caption{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: -5px;
}

.contact-adres{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    background-color: #737370;
    padding-left: 5px;
    padding-right: 20px;
}

.contact-number{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.contact-number::before{
    content: " ";
    width: 50px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 5px;
    background: url('../img/social.svg') no-repeat;
    margin-right: 10px;
}

.contact-form{
    margin-right: 250px;
}

.position-adres{
    margin-top: 120px;
}


/* Стили footer */


.footer{
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #030403;
}

@media (max-width: 1551px){
    .menu-list-item:not(:last-child) {
        margin-right: 25px;
    }

    .header-container{
        width: 1420px;
    }

    .logo{
        margin-left: 10px;
    }

    .big-container{
        width: 1420px;
    }

    .card-func-3{
        width: 640px;
        margin-right: 100px;
    }

    .card-func-3::before{
        top: 460px;
        left: 110px;
        height: 240px;
    }

    .card-func-3::after {
        height: 90px;
        top: -40px;
        left: 640px;
    }

    .card-func-6::before{
        top: 260px;
        left: -125px;
        width: 280px;
    }

    .сonnection-caption{
        margin-top: 200px;
    }

    .card-func-1{
        margin-left: 50px;
    }

    .card-func-5{
        margin-left: 50px;
        margin-top: 120px;
    }

    .rate-card {
        width: 450px;
        height: 720px;
    }

    .contact-caption{
        font-size: 30px;
    }
}

/* @media (max-width: 1331px){
    .menu-list-item:not(:last-child) {
        margin-right: 25px;
    }

    .logo{
        margin-left: 10px;
    }

    .big-container{
        width: 1280px !important;
    }

    .header-container{
        width: 1280px;
        font-size: 20px;
    }

    .footer-menu{
        display: none;
    }

    .logo-footer{
        margin-left: 45% !important;
        margin-right: 0;
    }

    .card-func-2 {
        width: 600px;
        background: url(../img/phone.png) 50% 0 no-repeat;
    }

    .card-func-3 {
        width: 545px;
        margin-right: 70px;
    }

    .card-func-6 {
        width: 550px;
        background: url(../img/phone2.png) 0% 100% no-repeat;
        background-size: contain;
    }

    .card-func-6::before {
        top: 320px;
        left: -125px;
        width: 240px;
    }

    .card-func-3::before {
        top: 425px;
        left: 110px;
        height: 280px;
    }

    .card-func-3::after {
        height: 55px;
        top: -60px;
        left: 525px;
    }

    .card-func-2::after {
        content: " ";
        width: 2px;
        height: 260px;
        display: inline-block;
        position: relative;
        top: 660px;
        left: 250px;
        background: url(../img/Vector59.svg) no-repeat;
    }

    .card-func-1::after {
        width: 140px;
    }

    .menu-list-item:not(:last-child) {
        margin-right: 40px;
    }



} */

/* @media (max-width: 1025px){
    .mobile-menu{
        display: block;
    }

    .menu-des{
        display: none;
    }

    .header-container{
        width: 1000px;
    }

    .container{
        width: 1000px;
    }

    .top-section{
        padding-top: 100px;
    }

    .main-caption{
        font-size: 75px;
    }

    .main-subtitle{
        font-size: 35px
    }
    
    .top-text{
        width: 610px;
        margin-left: 190px;
    }

    .caption-section-slide{
        left: 55px;
        width: 280px;
        text-align: center;
    }

    .bullet::after{
        width: 410px;
    }

    .swiper-pagination-bullet{
        margin-right: 70px !important;
        left: 630px;
        top: 800px;
    }
    
    .sphere-caption{
        font-size: 35px;
    }

    .retail-card,.digital-card,.public-card{
        margin-left: 60px;
        margin-right: 80px;
    }

    .beauty-card{
        padding-bottom: 265px;
    }

    .farm-card{
        padding-bottom: 195px;
    }
    
    .med-card{
        padding-bottom: 260px;
    }

    .sphere-btn{
        margin-left: 275px
    }

    .public-card,.med-card{
        margin-top: 0;
    }

    .choose-caption{
        font-size: 35px
    }

    .choose-text-1{
        font-size: 21px;
    }

    .choose-description{
        font-size: 21px;
    }

    .big-container {
        width: 1020px;
    }

    .contact-caption{
        font-size: 35px;
        line-height: 70px;
    }

    .funckhion-caption{
        font-size: 35px;
    }

    .card-func{
        width: 475px;
    }

    .card-func-2{
        width: 400px;
        background-position: 50% 0%;
    }

    .card-func-3{
        width: 400px;
        margin-right: 50px;
    }

    .bullet::after {
        width: 300px;
    }

    .card-func-5{
        margin-right: 0px;
    }

    .card-func-6 {
        width: 400px;
        background-size: cover;
        background-position: 50% 31%;
        margin-top: 230px;
    }

    .сonnection-card-3::after {
        background-position: 100% 100%;
        background-size: 500px;
    }

    .сonnection-card-3{
        margin-top: 15px;
    }

    .сonnection-card-4::before {
        width: 449px;
        background-size: 630px;
        margin-right: 50px;
    }

    .сonnection-card-4::before {
    content: " ";
    width: 449px;
    height: 330px;
    display: block;
    position: relative;
    top: -87px;
    left: 38px;
    background: url(../img/Vector69n.svg) no-repeat;
    background-size: 630px;
    margin-right: 50px;
    }

    .choose-text{
        margin-bottom: 100px;
    }

    .base-card{
        margin-left: 45px;
    }

    .premiym-card {
        margin-left: 285px;
        margin-top: 20px;
    }

    .choose-addition{
        text-align: center;
    }

    .contact-form{
        margin-right: 40px;
    }

    .footer-menu{
        display: none;
    }

    .logo-footer{
        margin-left: 45% !important;
        margin-right: 0;
    }

    .card-func-1::after{
        left: 420px;
        width: 60px;
    }

    .card-func-2::after{
        top: 660px;
        left: 150px;
    }

    .card-func-4{
        margin-top: 175px;
    }

} */

@media (max-width: 1025px){
    .header-container{
       width: 720px;
    }

    .mobile-menu{
        display: block;
    }

    .menu-des{
        display: none;
    }

    .top-text{
        width: 580px;
    }

    .big-container{
        width: 750px;
    }

    .container{
        width: 620px;
    }

    .logo{
        margin-left: 0;
    }

    .footer-menu{
        display: none;
    }

    .farm-card, .public-card {
        margin-bottom: 20px;
        margin-top: 0 !important;
    }

    .med-card{
        margin-top: 0;
    }

    .card-func-3 {
        width: 400px;
        height: 500px;
        margin-right: 0;
        position: relative;
        top: 430px !important;
        left: 100px;
    }

    .logo-footer{
        margin-left: 45% !important;
        margin-right: 0;
    }

    .main-subtitle{
        line-height: 65px;
    }

    .top-text{
        margin-left: 15px;
    }

    .mobile-caption-slide{
        display: block;
        top: 0;
        width: 615px;
    }

    .Advantages-section{
        padding-top: 10px;
    }

    .swiper-pagination-bullet{
        left: 150px;
        top: 850px;
    }

    .bullet::after{
        display: none;
    }

    .sphere-caption{
        font-size: 30px;
    }

    .сonnection-card-2::before{
        display: none;
    }

    .сonnection-card-3::after{
        display: none;
    }

    .сonnection-card-4::before{
        display: none;
    }

    .сonnection-card-4{
        margin-top: 0px;
    }

    .rate-card-position{
        display: block;
    }

    .base-card,.premiym-card,.standart-card{
        margin-left: 150px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .link-packets{
        display: block;
        margin-top: 20px;
    }

    .retail-card, .digital-card, .public-card,.beauty-card,.farm-card,.med-card {
        margin-left: 115px;
        margin-right: 0px;
    }

    .farm-card,.public-card{
        margin-bottom: 20px;
    }

    .sphere-btn {
        margin-left: 105px;
    }

    .sphere-card{
        height: 560px;
    }

    .area,.contact-input{
        width: 400px;
    }

    .card-func-1{
        margin-left: 140px;
    }

    .card-func-2{
        height: 500px;
        background-size: cover;
        margin-left: 175px;
    }

    .card-func-4 {
        margin-top: 175px;
        top: -850px;
        left: 125px;
        position: relative;
    }

    .card-func-3 {
        width: 400px;
        height: 500px;
        margin-right: 0;
        position: relative;
        top: 550px;
        left: 100px;
    }

    .card-func-3::before {
        display: none;
    }

    .card-func-5 {
        margin-right: 0px;
        margin-top: -450px;
        margin-left: 125px;
    }

    .card-func-6 {
        width: 400px;
        height: 500px;
        margin-top: 0px;
        margin-left: 170px;
    }

    .card-func-1::before,.card-func-1::after,.card-func-2::after,.card-func-3::after,.card-func-6::before{
        display: none;
    }

    .funckhion-caption{
        line-height: 70px;
    }

    .slider-prog-caption{
        font-size: 35px
    }
}

@media (max-width: 667px){
    .header-container{
        width: 620px;
     }
 
     .big-container{
         width: 620px;
     }
 
     .container{
         width: 620px;
     }

     .caption-section-slide{
         font-size: 28px;
         margin-left: -5px;
     }

     .card-func-5{
        margin-left: 80px;
     }

     .card-func-6{
         margin-left: 115px;
     }

     .card-func-3{
         left: 65px;
     }

     .card-func-4{
         left: 80px;
     }

    .card-func-1{
        margin-left: 85px;
    }

    .card-func-2{
        margin-left: 115px;
    }

    .base-card, .premiym-card, .standart-card {
        margin-left: 95px;
    }

    .choose-addition{
        margin-left: 50px;
    }
}

@media (max-width: 511px){
    .header-container{
        width: 450px;
     }
 
     .big-container{
         width: 310px;
     }
 
     .container{
         width: 310px;
     }

     .main-caption {
        font-size: 35px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 40px;
    }

    .top-text {
        margin-left: -53px;
        width: 310px;
        font-size: 21px;
        margin-left: 0px;
    }

    .top-btn {
        font-size: 20px;
        width: 305px;
        height: 65px;
        padding-bottom: 10px;
    }

    .caption-section-slide {
        font-size: 20px;
        margin-left: 40px;
        width: 300px;
    }

    .Advantages-slide1,.Advantages-slide2,.Advantages-slide3,.Advantages-slide4{
        max-width: 300px;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-right: 0px;
        height: 600px !important;
    }

    .slider-text{
        padding-left: 10px;
        padding-right: 0px;
        font-size: 18px;
    }

    .Advantages-slider-caption{
        padding-left: 10px;
        padding-right: 0px;
        font-size: 23px;
    }

    .swiper-pagination-bullet {
        left: 50px;
        top: 965px;
        margin-right: 40px !important;
    }

    .bullet{
        margin-right: 20px;
    }

    .sphere-caption{
        font-size: 21px;
        line-height: 40px;
    }

    .sphere-card{
        height: 600px;
    }

    .retail-card, .digital-card, .public-card, .beauty-card, .farm-card, .med-card{
        margin-left: 0px;
    }

    .med-card,.farm-card{
        width: 310px;
    }

    .sphere-btn {
        margin-left: 5px;
        width: 300px;
    }

    .choose-caption{
        font-size: 25px;
        line-height: 50px;
    }

    .choose-text-1 {
        font-size: 18px;
    }

    .choose-description {
        font-size: 18px;
    }

    .slider-prog-caption {
        font-size: 25px;
    }

    .funckhion-caption {
        font-size: 21px;
    }

    .card-func-1 {
        margin-left: 15px;
    }

    .card-func-2 {
        margin-left: 5px;
    }

    .card-func-4 {
        left: 15px;
        width: 281px;
    }

    .card-func-3 {
        left: 0px;
        top: 455px;
        margin-left: 14px;
    }

    .contact-adres{
        color: #ffffff;
        background: none;
    }

    .card-func-5 {
        margin-left: 0px;
        margin-top: -585px;
    }

    .card-func-6 {
        margin-left: 0;
    }

    .сonnection-caption {
        font-size: 25px;
    }

    .base-card, .premiym-card, .standart-card {
        margin-left: 5px;
        width: 300px;
    }
    
    .rate-caption {
        font-size: 30px;
    }

    .contact-form-position {
        display: block;
    }

    .area, .contact-input {
        width: 300px;
    }

    .list-card{
        padding-right: 20px;
    }

    .card-func-text{
        font-size: 20px;
    }

    .card-func-subtext{
        font-size: 18px;
    }

    .card-func{
        padding-right: 10px;
        padding-left: 15px;
    }

    .funckhion-card-list li {
        font-size: 16px;
    }

    .сonnection-card-list{
        font-size: 18px;
    }

    .сonnection-card-caption{
        font-size: 20px;
    }

    .rate-card {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .choose-price{
        font-size: 25px;
    }

    .list-card-rate {
        padding-left: 15px;
        padding-right: 10px;
    }

    .choose-text::after{
        left: 130px;
    }

    .choose-addition{
        font-size: 20px;
    }

    .contact-caption {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .contacts-btn{
        margin-bottom: 0px;
    }

    .logo-footer{
        margin-left: 25% !important;
    }
}

@media (max-width: 450px){
    .header-container{
        width: 390px;
    }

    .caption-section-slide{
        margin-left: 0px;
    }
}


@media (max-width: 390px){
    .header-container{
        width: 320px;
    }

    .caption-section-slide{
        margin-left: -40px;
    }
}


@media (max-width: 320px){
    .header-container{
        width: 320px;
    }

    .caption-section-slide{
        margin-left: -40px;
    }
}

